<% provide :title, t("views.book.title") %>
<h1><%= t "views.book.list" %></h1>
<div>
  <%= form_tag books_path, method: :get do %>
    <%= text_field_tag :search, params[:search], class: "custom-search-form",
      placeholder: t("views.book.search_book") %>
    <%= select_tag t("views.book.category"),
      options_for_select(@categories.map{|f| [f.name, f.id]}),
      class: "select", include_blank: t("views.book.none") %> 
    <%= submit_tag t "views.book.search" %>
  <% end %>
</div>
<div class="section">
  <%= render @books %>
</div>
<div class="page">
  <%= will_paginate @books %>
  <%= page_entries_info @books %>
</div>
